html,
body {
    min-height: 100% !important;
    height: 100%;
    overflow: hidden;
    margin: 0 !important;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(144, 147, 153, 0.3);
    border-radius: 20px;
    transition: background-color 0.3s;
}

*[contenteditable="true"] {
    border: none;
    outline: none;
}

#flappy-card {
    padding: 0 !important;
    max-width: 320px !important;
}

.wiki-header, #wiki-header {
    background: #F4F2FF !important;
    padding: 10px 20px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    max-width: 320px !important;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.wiki-title, #wiki-title {
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #111111 !important;
}

.wiki-sub-title, #wiki-sub-title {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #111111 !important;
}

.wiki-airplane, #wiki-airplane {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNi41OTQgOC41MDNMMS43MDYgNS41MTRhLjg2NC44NjQgMCAwIDEgLjIxMS0xLjU2NkwxMy40NTcuNjE0YS44NjMuODYzIDAgMCAxIDEuMDY3IDEuMDc3TDExLjEgMTMuMTRhLjg2My44NjMgMCAwIDEtMS41NjUuMmwtMi45NC00LjgzOCIgc3Ryb2tlPSIjN0I2MUZGIiBzdHJva2Utd2lkdGg9IjEuMDc2IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#wiki-airplane:hover {
    color: rgba(127, 107, 255, 0.5);
}

.wiki-container, #wiki-container {
    padding: 20px !important;
}

.wiki-content, #wiki-content {
    max-height: 300px !important;
    overflow: scroll !important;
}

.wiki-text, #wiki-text {
    font-weight: 400 !important;
    font-size: 12px !important;
}

.show-all, #show-all {
    float: right !important;
    color: #C4C4C4 !important;
    cursor: pointer !important;
}

.wiki-tag, #wiki-tag {
    background: #7B61FF !important;
    border-radius: 2px !important;
    font-weight: 600 !important;
    font-size: 6px !important;
    margin-right: 10px !important;
    color: white !important;
    padding: 2px 4px !important;
}

.wiki-link, #wiki-link {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    color: #7B61FF !important;
}

.relate-title, #relate-title {
    color: #111111 !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    margin: 10px 0 !important;
}

.flappy-link {
    transition: all 0.3s ease-in-out;
    color: #7B61FF;
    margin-bottom: 1px;
}

.flappy-link:hover {
    background: rgba(142, 128, 255, 0.2);
}

.link-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.el-image {
    width: 18px !important;
    height: 18px !important;
    margin-right: 6px;
}

.el-input {
    border: none;
    width: 100%;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #989898 !important;
}