<div class="dialog__header">
	<span class="logo lt-icon lt-icon__lt">
		<span class="logo__name">Language<strong>Tool</strong></span>
		<span id="slogan" class="logo__claim"></span>
	</span>
</div>
<div class="dialog__content" id="dialog__content">
	<div id="message" class="content"></div>
	<div id="footer" class="dialog__footer content">
		<div id="dialog__buttons" class="dialog__buttons">
			<button class="dialog__primaryButton" id="confirm"></button>
		</div>
		<div id="progress-indicator" class="progress-indicator"></div>
	</div>
</div>

<div class="dialog__made-in">
	Made in
	<span class="dialog__flag--fr"></span>
	France and
	<span class="dialog__flag--de"></span>
	Germany
</div>

<div class="test"></div>
<style>
	.test {
		width: 100px;
		height: 100px;
		background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNi41OTQgOC41MDNMMS43MDYgNS41MTRhLjg2NC44NjQgMCAwIDEgLjIxMS0xLjU2NkwxMy40NTcuNjE0YS44NjMuODYzIDAgMCAxIDEuMDY3IDEuMDc3TDExLjEgMTMuMTRhLjg2My44NjMgMCAwIDEtMS41NjUuMmwtMi45NC00LjgzOCIgc3Ryb2tlPSIjN0I2MUZGIiBzdHJva2Utd2lkdGg9IjEuMDc2IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=');
	}
</style>